In [1]:
import asyncio
import aiohttp
import pandas as pd
import nest_asyncio
nest_asyncio.apply()
from dotenv import load_dotenv
load_dotenv()
import os

# Socrata app token 
APP_TOKEN = os.getenv("CHICAGO_API_TOKEN")

# Endpoint and config
BASE_URL = "https://data.cityofchicago.org/resource/ijzp-q8t2.json"
LIMIT = 10000
CONCURRENT_REQUESTS = 5

semaphore = asyncio.Semaphore(CONCURRENT_REQUESTS)

In [2]:
async def fetch_batch(session, offset, retries=5):
    headers = {"X-App-Token": APP_TOKEN}
    params = {
        "$select": "primary_type",
        "$limit": LIMIT,
        "$offset": offset,
        "$where": "date IS NOT NULL"
    }
    async with semaphore:
        for attempt in range(retries):
            try:
                async with session.get(BASE_URL, headers=headers, params=params) as resp:
                    if resp.status == 200:
                        return await resp.json()
                    elif resp.status in [429, 500, 502, 503, 504]:
                        wait = 2 ** attempt
                        print(f"Retryable error {resp.status} at offset {offset}. Retrying in {wait}s...")
                        await asyncio.sleep(wait)
                    else:
                        print(f"Non-retryable error at offset {offset}: HTTP {resp.status}")
                        return []
            except Exception as e:
                print(f"Exception at offset {offset}: {e}")
        return []

async def fetch_all_data():
    all_records = []
    offset = 0

    async with aiohttp.ClientSession() as session:
        while True:
            tasks = [fetch_batch(session, offset + i * LIMIT) for i in range(CONCURRENT_REQUESTS)]
            results = await asyncio.gather(*tasks)

            batch_records = [record for batch in results if batch for record in batch]
            all_records.extend(batch_records)

            print(f"Retrieved: {len(all_records)} records...")

            if any(len(batch) < LIMIT for batch in results):
                break

            offset += CONCURRENT_REQUESTS * LIMIT

    # Convert to DataFrame with only primary_type column
    df = pd.DataFrame(all_records)
    return df

# ✅ Run this inside an async context (e.g., Jupyter cell)
df = await fetch_all_data()
print(f"Total records: {len(df)}")
df.head()

Retrieved: 50000 records...
Retrieved: 100000 records...
Retrieved: 150000 records...
Retrieved: 200000 records...
Retrieved: 250000 records...
Retrieved: 300000 records...
Retrieved: 350000 records...
Retrieved: 400000 records...
Retrieved: 450000 records...
Retrieved: 500000 records...
Retrieved: 550000 records...
Retrieved: 600000 records...
Retrieved: 650000 records...
Retrieved: 700000 records...
Retrieved: 750000 records...
Retrieved: 800000 records...
Retrieved: 850000 records...
Retrieved: 900000 records...
Retrieved: 950000 records...
Retrieved: 1000000 records...
Retrieved: 1050000 records...
Retrieved: 1100000 records...
Retrieved: 1150000 records...
Retrieved: 1200000 records...
Retrieved: 1250000 records...
Retrieved: 1300000 records...
Retrieved: 1350000 records...
Retrieved: 1400000 records...
Retrieved: 1450000 records...
Retrieved: 1500000 records...
Retrieved: 1550000 records...
Retrieved: 1600000 records...
Retrieved: 1650000 records...
Retrieved: 1700000 records...
Retrieved: 1750000 records...
Retrieved: 1800000 records...
Retrieved: 1850000 records...
Retrieved: 1900000 records...
Retrieved: 1950000 records...
Retrieved: 2000000 records...
Retrieved: 2050000 records...
Retrieved: 2100000 records...
Retrieved: 2150000 records...
Retrieved: 2200000 records...
Retrieved: 2250000 records...
Retrieved: 2300000 records...
Retrieved: 2350000 records...
Retrieved: 2400000 records...
Retrieved: 2450000 records...
Retrieved: 2500000 records...
Retrieved: 2550000 records...
Retrieved: 2600000 records...
Retrieved: 2650000 records...
Retrieved: 2700000 records...
Retrieved: 2750000 records...
Retrieved: 2800000 records...
Retrieved: 2850000 records...
Retrieved: 2900000 records...
Retrieved: 2950000 records...
Retrieved: 3000000 records...
Retrieved: 3050000 records...
Retrieved: 3100000 records...
Retrieved: 3150000 records...
Retrieved: 3200000 records...
Retrieved: 3250000 records...
Retrieved: 3300000 records...
Retrieved: 3350000 records...
Retrieved: 3400000 records...
Retrieved: 3450000 records...
Retrieved: 3500000 records...
Retrieved: 3550000 records...
Retrieved: 3600000 records...
Retrieved: 3650000 records...
Retrieved: 3700000 records...
Retrieved: 3750000 records...
Retrieved: 3800000 records...
Retrieved: 3850000 records...
Retrieved: 3900000 records...
Retrieved: 3950000 records...
Retrieved: 4000000 records...
Retrieved: 4050000 records...
Retrieved: 4100000 records...
Retrieved: 4150000 records...
Retrieved: 4200000 records...
Retrieved: 4250000 records...
Retrieved: 4300000 records...
Retrieved: 4350000 records...
Retrieved: 4400000 records...
Retrieved: 4450000 records...
Retrieved: 4500000 records...
Retrieved: 4550000 records...
Retrieved: 4600000 records...
Retrieved: 4650000 records...
Retrieved: 4700000 records...
Retrieved: 4750000 records...
Retrieved: 4800000 records...
Retrieved: 4850000 records...
Retrieved: 4900000 records...
Retrieved: 4950000 records...
Retrieved: 5000000 records...
Retrieved: 5050000 records...
Retrieved: 5100000 records...
Retrieved: 5150000 records...
Retrieved: 5200000 records...
Retrieved: 5250000 records...
Retrieved: 5300000 records...
Retrieved: 5350000 records...
Retrieved: 5400000 records...
Retrieved: 5450000 records...
Retrieved: 5500000 records...
Retrieved: 5550000 records...
Retrieved: 5600000 records...
Retrieved: 5650000 records...
Retrieved: 5700000 records...
Retrieved: 5750000 records...
Retrieved: 5800000 records...
Retrieved: 5850000 records...
Retrieved: 5900000 records...
Retrieved: 5950000 records...
Retrieved: 6000000 records...
Retrieved: 6050000 records...
Retrieved: 6100000 records...
Retrieved: 6150000 records...
Retrieved: 6200000 records...
Retrieved: 6250000 records...
Retrieved: 6300000 records...
Retrieved: 6350000 records...
Retrieved: 6400000 records...
Retrieved: 6450000 records...
Retrieved: 6500000 records...
Retrieved: 6550000 records...
Retrieved: 6600000 records...
Retrieved: 6650000 records...
Retrieved: 6700000 records...
Retrieved: 6750000 records...
Retrieved: 6800000 records...
Retrieved: 6850000 records...
Retrieved: 6900000 records...
Retrieved: 6950000 records...
Retrieved: 7000000 records...
Retrieved: 7050000 records...
Retrieved: 7100000 records...
Retrieved: 7150000 records...
Retrieved: 7200000 records...
Retrieved: 7250000 records...
Retrieved: 7300000 records...
Retrieved: 7350000 records...
Retrieved: 7400000 records...
Retrieved: 7450000 records...
Retrieved: 7500000 records...
Retrieved: 7550000 records...
Retrieved: 7600000 records...
Retrieved: 7650000 records...
Retrieved: 7700000 records...
Retrieved: 7750000 records...
Retrieved: 7800000 records...
Retrieved: 7850000 records...
Retrieved: 7900000 records...
Retrieved: 7950000 records...
Retrieved: 8000000 records...
Retrieved: 8050000 records...
Retrieved: 8100000 records...
Retrieved: 8150000 records...
Retrieved: 8200000 records...
Retrieved: 8250000 records...
Retrieved: 8300000 records...
Retrieved: 8350000 records...
Retrieved: 8360989 records...
Total records: 8360989

                 primary_type
0  OFFENSE INVOLVING CHILDREN
1                   NARCOTICS
2                     ROBBERY
3         CRIM SEXUAL ASSAULT
4             CRIMINAL DAMAGE

In [3]:

# Group by 'primary_type' and count occurrences
primary_type_counts = df['primary_type'].value_counts().reset_index()

# Rename columns for clarity
primary_type_counts.columns = ['primary_type', 'count']

# Sort descending
primary_type_counts = primary_type_counts.sort_values(by='count', ascending=False)

# Display the result
print(primary_type_counts)

                         primary_type    count
0                               THEFT  1773710
1                             BATTERY  1523512
2                     CRIMINAL DAMAGE   950729
3                           NARCOTICS   761946
4                             ASSAULT   558516
5                       OTHER OFFENSE   521161
6                            BURGLARY   442644
7                 MOTOR VEHICLE THEFT   426113
8                  DECEPTIVE PRACTICE   383773
9                             ROBBERY   313025
10                  CRIMINAL TRESPASS   225296
11                  WEAPONS VIOLATION   123552
12                       PROSTITUTION    70346
13         OFFENSE INVOLVING CHILDREN    59993
14             PUBLIC PEACE VIOLATION    54564
15                        SEX OFFENSE    33859
16                CRIM SEXUAL ASSAULT    27304
17   INTERFERENCE WITH PUBLIC OFFICER    19965
18               LIQUOR LAW VIOLATION    15334
19                           GAMBLING    14654
20                              ARSON    14322
21                           HOMICIDE    13868
22            CRIMINAL SEXUAL ASSAULT    10996
23                         KIDNAPPING     7456
24                           STALKING     5990
25                       INTIMIDATION     5060
26  CONCEALED CARRY LICENSE VIOLATION     1586
27                          OBSCENITY      937
28                   PUBLIC INDECENCY      217
29                       NON-CRIMINAL      190
30           OTHER NARCOTIC VIOLATION      162
31                  HUMAN TRAFFICKING      136
32                     NON - CRIMINAL       39
33                          RITUALISM       24
34   NON-CRIMINAL (SUBJECT SPECIFIED)        9
35                  DOMESTIC VIOLENCE        1

In [ ]:

# Step 1: Count and sort primary types
primary_type_counts = df['primary_type'].value_counts().reset_index()
primary_type_counts.columns = ['primary_type', 'count']
primary_type_counts = primary_type_counts.sort_values(by='count', ascending=False)

# Step 2: Take top 11
top_11_primary_types = primary_type_counts.head(11)

# Step 3: Export to CSV
top_11_primary_types.to_csv("top_11_primary_types.csv", index=False)

# Confirm
print("Exported top 11 primary types to 'top_11_primary_types.csv'")